<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="ApplicationName" value="ConfiguracionAppConfig" />
    <add key="MaxIntentosLogin" value="3" />
    <add key="ModoMantenimiento" value="false" />
    <add key="EmailSoporte" value="soporte@empresa.com" />
  </appSettings>
</configuration>
